<div class="row product-details" *ngIf="productData">
    <div class="col-sm-6">
    <img  class="product-img" src="{{productData.productImg}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productData.productName}}</h1>
            <h3>Price : {{productData.productPrice}}</h3>
            <h6>Brand : : {{productData.brand}}</h6>
            <h6>Category : {{productData.category}}</h6>
            <h6>Description : {{productData.productDesc}}</h6>
            <button class="form-button">Buy Now</button>
            <button *ngIf="removeCart" class="form-button" (click)=" removeToCart(productData.productId)">Remove From Cart</button>
            <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
        <div class="quantity-group">
            <button (click)="handleQuantity('min')" >-</button>
            <input type="text" value="{{productQuantity}}" />
            <button (click)="handleQuantity('plus')">+</button>

        </div>
    </div>
</div>
</div>

